h1 {text-align: center;
color:blue;
}

blockquote {text-align: center;
background-color: gold;
}

#header {background-color: burlywood;
}

ul {text-align: center;
}

.gambar {margin: auto;
text-align: center;
}

.fp::first-letter {font-size: 50px;
color: blue;
}

.koleksi img{
    width: 23%;
}

.promo{background-color: burlywood;
width: max-content;
color: brown;
text-align: center;
border: 2px solid black;
font-weight: bold;
margin: 5px auto;
padding: 10px;
}